.comments_container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 50px;

  .comments_list {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
